/*
Soft orange: hsl(35, 77%, 62%)
 Soft red: hsl(5, 85%, 63%)
 Off-white: hsl(36, 100%, 99%)
 Grayish blue: hsl(233, 8%, 79%)
 Dark grayish blue: hsl(236, 13%, 42%)
 Very dark blue: hsl(240, 100%, 5%)
*/

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  background-color: (36, 100%, 99%);
}
.main-grid-container {
  display: grid;
  grid-template-columns: 12rem repeat(3, 1fr) 12rem;
  grid-template-rows: 3.5rem repeat(3, 1fr) 3.5rem;
  height: 100vh;
  /* border: 1px solid green; */
  gap: 1rem;
}
/*nav*/
nav {
  grid-column: 2/5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  /* border: 1px solid red; */
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li a {
  color: hsl(233, 8%, 79%);
}
nav figure {
  align-self: center;
}
/*body*/
.orange-clr {
  color: hsl(35, 77%, 62%);
}

.big-img {
  grid-column: 2/4;
  grid-row: 2/3;
  height: 10% !important;
}
.big-img img {
  width: 100%;
  object-fit: cover;
}
/*info card*/
.info-container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
}
.info-container div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.info-container p {
  color: hsl(233, 8%, 79%);
  font-size: 0.8rem;
  line-height: 1.5rem;
}
.info-container div:not(:last-child) {
  border-bottom: 1px solid hsl(30, 5%, 31%);
}
.info-container div:not(:last-child) p {
  margin-bottom: 2rem;
}
.new-card {
  grid-column: 4/5;
  grid-row: 2/4;
  font-size: 0.7rem;
  padding: 15px;
  background-color: hsl(240, 100%, 5%);
}
/*end of info card*/
.about-web3 {
  grid-column: 2/3;
  font-size: 1.14rem;
  color: hsl(240, 100%, 5%);
}
.web3-article {
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: hsl(233, 8%, 79%);
  /* border: 1px solid black; */
}
.web3-article button {
  background-color: hsl(5, 85%, 63%);
  border: none;
  height: 2rem;
  width: 9rem;
  color: white;
  font-weight: bold;
  letter-spacing: 0.2rem;
}
.web3-article p {
  font-size: 0.9rem;
}

.info-card-fig {
  display: flex;
  gap: 1rem;
  /* border: 1px solid red; */
}
.info-card-fig h2 {
  color: hsl(240, 100%, 5%);
  line-height: 1.5rem;
}
.num, .info-card-fig p{
  color: hsl(233, 8%, 79%) !important;
}
/* figcaption {
  border: 1px solid red;
} */
.info-card-fig img {
  width: 20%;
  object-fit: cover;
}
.info-card-item {
  font-size: 1rem;
}
.info-card1 {
  grid-column: 2/3;
  grid-row: 4/5;
}
.info-card2 {
  grid-column: 3/4;
  grid-row: 4/5;
}
.info-card3 {
  grid-column: 4/5;
  grid-row: 4/5;
}
